<div class="workingDivOuter width95Per">
  <div class="workingDiv project-cards">
    <div class="col-md-12 project-list"></div>
    <div class="col-sm-12">
      <div class="card mb-0 cardNoBorder">
        <div class="card-body p-0">
          <div class="tab-content" id="top-tabContent">
            <div class="row">
              <h2 class="rem1 px-0">Ongoing Works</h2>
            </div>

            <!-- on going starts -->
            <div
              class="tab-pane fade show active"
              id="onGoingWork"
              role="tabpanel"
              aria-labelledby="top-tasks-tab"
            >
              <div class="row mb-3 p-0 d-flex justify-content-between">
                <div
                  class="left-header col-md-6 horizontal-wrapper ps-0 d-flex align-items-center"
                >
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text mobile-search"
                        ><mat-icon
                          aria-hidden="false"
                          aria-label="Example home icon"
                          fontIcon="search"
                        ></mat-icon
                      ></span>
                    </div>
                    <input
                      class="form-control"
                      type="text"
                      placeholder="Search Here..."
                    />
                  </div>
                </div>

                <ul
                  class="nav-menus cstmNavMenusWidth d-flex align-items-center px-0"
                >
                  <li class="onhover-dropdown p-0 me-0">
                    <div class="d-flex profile-media">
                      <div class="d-flex statusFilter justify-content-around">
                        <span class="status">Final Status</span>
                        <span class="material-symbols-outlined">
                          expand_more
                        </span>
                      </div>
                    </div>

                    <ul
                      class="nav nav-tabs cstmDraft border-tab dirColumn profile-dropdown onhover-show-div"
                      id="top-tab"
                      role="tablist"
                    >
                      <li class="nav-item newNavItem">
                        <a class="nav-link removePadd newNavLink">Started</a>
                      </li>
                      <li class="nav-item newNavItem">
                        <a class="nav-link removePadd newNavLink">Submitted</a>
                      </li>
                      <li class="nav-item newNavItem">
                        <a class="nav-link removePadd newNavLink"
                          >Approval Pending</a
                        >
                      </li>
                      <li class="nav-item newNavItem">
                        <a class="nav-link removePadd newNavLink">Rejected</a>
                      </li>
                      <li class="nav-item newNavItem">
                        <a class="nav-link removePadd newNavLink">Redraft</a>
                      </li>
                      <li class="nav-item newNavItem">
                        <a class="nav-link removePadd newNavLink">Approved</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>

              <div class="row basic_table">
                <div class="table-responsive cstmTable p-2 tableFixed">
                  <table class="table fold-table">
                    <thead>
                      <tr class="bdrBtmBlue">
                        <th class="cstmTh" scope="col">Executor</th>
                        <th class="cstmTh" scope="col">Exec Acc Type</th>
                        <th class="cstmTh" scope="col">ExeRef-ID</th>
                        <!-- <th class="cstmTh" scope="col">Admin Status</th>
                          <th class="cstmTh" scope="col">Gen Status</th> -->
                        <th class="cstmTh" scope="col">Final Status</th>
                        <th class="cstmTh" scope="col">Work Details</th>
                        <th class="cstmTh" scope="col">Generator</th>
                        <th class="cstmTh" scope="col">Gen Acc Type</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="view bgroud mb-1">
                        <td class="cstmTd minWidthName">
                          <a href="../others/personal.html">
                            <div class="grouping d-flex justify-content-evenly">
                              <div class="div1">
                                <img
                                  class="img-30 me-2 rounded-circle"
                                  src="../assets/images/avtar/3.jpg"
                                  alt=""
                                />
                              </div>
                              <div
                                class="div2 d-flex flex-column align-items-start"
                              >
                                <p class="mb-0 headTitle">Saksham Mishra</p>
                                <p class="mb-0">2 mins ago</p>
                              </div>
                            </div>
                          </a>
                        </td>

                        <td class="cstmTd">
                          <div class="d-flex">
                            <p class="border rounded px-1 mb-0 font11px">
                              Business
                            </p>
                          </div>
                        </td>

                        <td class="cstmTd">
                          <div class="d-flex">
                            <a
                              class="text-underline"
                              routerLink="/ongoing-work-details"
                            >
                              EXEID32122ED4RF</a
                            >
                          </div>
                        </td>
                        <td class="cstmTd minWidth145">
                          <div class="d-flex">
                            <p class="border rounded px-1 mb-0 pending">
                              Approval Pending
                            </p>
                          </div>
                        </td>

                        <!-- <td class="cstmTd">Biker Onboarding</td> -->
                        <td class="cstmTd minWidth300">
                          <div
                            class="d-flex flex-column align-items-start position-relative"
                          >
                            <p class="mb-0 headTitle">Need Bikers</p>
                            <p class="catDesc mx-0 px-0">
                              Earn upto Rs 500 everyday si the new beginning and
                              that why you are the best
                            </p>
                            <p class="tooltip newTooltipPosition">
                              Earn upto Rs 500 everyday si the new beginning and
                              that why you are the best Lorem ipsum dolor sit
                              amet consectetur adipisicing elit. Maxime placeat
                              repudiandae iusto ipsa eligendi provident deleniti
                              aspernatur quaerat suscipit deserunt tenetur enim,
                              earum sunt, voluptatibus non dignissimos
                              repellendus minima adipisci.
                            </p>
                          </div>
                        </td>
                        <td class="cstmTd">
                          <div class="grouping d-flex justify-content-evenly">
                            <div class="div1">
                              <img
                                class="img-30 me-2 rounded-circle"
                                src="https://images.freeimages.com/images/large-previews/09e/moon-art-1641879.png"
                                alt=""
                              />
                            </div>
                            <div
                              class="div2 d-flex flex-column align-items-start"
                            >
                              <p class="mb-0 headTitle">Swiggy</p>
                              <p class="mb-0">2 mins ago</p>
                            </div>
                          </div>
                        </td>
                        <td class="cstmTd">
                          <div class="d-flex">
                            <p class="border rounded px-1 mb-0 font11px">
                              Business
                            </p>
                          </div>
                        </td>
                      </tr>

                      <tr class="view bgroud mb-1">
                        <td class="cstmTd minWidthName">
                          <a href="../others/personal.html">
                            <div class="grouping d-flex justify-content-evenly">
                              <div class="div1">
                                <img
                                  class="img-30 me-2 rounded-circle"
                                  src="../assets/images/avtar/3.jpg"
                                  alt=""
                                />
                              </div>
                              <div
                                class="div2 d-flex flex-column align-items-start"
                              >
                                <p class="mb-0 headTitle">Saksham Mishra</p>
                                <p class="mb-0">2 mins ago</p>
                              </div>
                            </div>
                          </a>
                        </td>

                        <td class="cstmTd">
                          <div class="d-flex">
                            <p class="border rounded px-1 mb-0 font11px">
                              Business
                            </p>
                          </div>
                        </td>

                        <td class="cstmTd">
                          <div class="d-flex">
                            <a
                              class="text-underline"
                              href="ongoing_work_d.html"
                            >
                              EXEID32122ED4RF</a
                            >
                          </div>
                        </td>
                        <td class="cstmTd minWidth145">
                          <div class="d-flex">
                            <p class="border rounded px-1 mb-0 pending">
                              Approval Pending
                            </p>
                          </div>
                        </td>

                        <!-- <td class="cstmTd">Biker Onboarding</td> -->
                        <td class="cstmTd minWidth300">
                          <div
                            class="d-flex flex-column align-items-start position-relative"
                          >
                            <p class="mb-0 headTitle">Need Bikers</p>
                            <p class="catDesc mx-0 px-0">
                              Earn upto Rs 500 everyday si the new beginning and
                              that why you are the best
                            </p>
                            <p class="tooltip newTooltipPosition">
                              Earn upto Rs 500 everyday si the new beginning and
                              that why you are the best Lorem ipsum dolor sit
                              amet consectetur adipisicing elit. Maxime placeat
                              repudiandae iusto ipsa eligendi provident deleniti
                              aspernatur quaerat suscipit deserunt tenetur enim,
                              earum sunt, voluptatibus non dignissimos
                              repellendus minima adipisci.
                            </p>
                          </div>
                        </td>
                        <td class="cstmTd">
                          <div class="grouping d-flex justify-content-evenly">
                            <div class="div1">
                              <img
                                class="img-30 me-2 rounded-circle"
                                src="https://images.freeimages.com/images/large-previews/09e/moon-art-1641879.png"
                                alt=""
                              />
                            </div>
                            <div
                              class="div2 d-flex flex-column align-items-start"
                            >
                              <p class="mb-0 headTitle">Swiggy</p>
                              <p class="mb-0">2 mins ago</p>
                            </div>
                          </div>
                        </td>
                        <td class="cstmTd">
                          <div class="d-flex">
                            <p class="border rounded px-1 mb-0 font11px">
                              Business
                            </p>
                          </div>
                        </td>
                      </tr>

                      <tr class="view bgroud mb-1">
                        <td class="cstmTd minWidthName">
                          <a href="../others/personal.html">
                            <div class="grouping d-flex justify-content-evenly">
                              <div class="div1">
                                <img
                                  class="img-30 me-2 rounded-circle"
                                  src="../assets/images/avtar/3.jpg"
                                  alt=""
                                />
                              </div>
                              <div
                                class="div2 d-flex flex-column align-items-start"
                              >
                                <p class="mb-0 headTitle">Saksham Mishra</p>
                                <p class="mb-0">2 mins ago</p>
                              </div>
                            </div>
                          </a>
                        </td>

                        <td class="cstmTd">
                          <div class="d-flex">
                            <p class="border rounded px-1 mb-0 font11px">
                              Business
                            </p>
                          </div>
                        </td>

                        <td class="cstmTd">
                          <div class="d-flex">
                            <a
                              class="text-underline"
                              href="ongoing_work_d.html"
                            >
                              EXEID32122ED4RF</a
                            >
                          </div>
                        </td>
                        <td class="cstmTd minWidth145">
                          <div class="d-flex">
                            <p class="border rounded px-1 mb-0 pending">
                              Approval Pending
                            </p>
                          </div>
                        </td>

                        <!-- <td class="cstmTd">Biker Onboarding</td> -->
                        <td class="cstmTd minWidth300">
                          <div
                            class="d-flex flex-column align-items-start position-relative"
                          >
                            <p class="mb-0 headTitle">Need Bikers</p>
                            <p class="catDesc mx-0 px-0">
                              Earn upto Rs 500 everyday si the new beginning and
                              that why you are the best
                            </p>
                            <p class="tooltip newTooltipPosition">
                              Earn upto Rs 500 everyday si the new beginning and
                              that why you are the best Lorem ipsum dolor sit
                              amet consectetur adipisicing elit. Maxime placeat
                              repudiandae iusto ipsa eligendi provident deleniti
                              aspernatur quaerat suscipit deserunt tenetur enim,
                              earum sunt, voluptatibus non dignissimos
                              repellendus minima adipisci.
                            </p>
                          </div>
                        </td>
                        <td class="cstmTd">
                          <div class="grouping d-flex justify-content-evenly">
                            <div class="div1">
                              <img
                                class="img-30 me-2 rounded-circle"
                                src="https://images.freeimages.com/images/large-previews/09e/moon-art-1641879.png"
                                alt=""
                              />
                            </div>
                            <div
                              class="div2 d-flex flex-column align-items-start"
                            >
                              <p class="mb-0 headTitle">Swiggy</p>
                              <p class="mb-0">2 mins ago</p>
                            </div>
                          </div>
                        </td>
                        <td class="cstmTd">
                          <div class="d-flex">
                            <p class="border rounded px-1 mb-0 font11px">
                              Business
                            </p>
                          </div>
                        </td>
                      </tr>

                      <tr class="view bgroud mb-1">
                        <td class="cstmTd minWidthName">
                          <a href="../others/personal.html">
                            <div class="grouping d-flex justify-content-evenly">
                              <div class="div1">
                                <img
                                  class="img-30 me-2 rounded-circle"
                                  src="../assets/images/avtar/3.jpg"
                                  alt=""
                                />
                              </div>
                              <div
                                class="div2 d-flex flex-column align-items-start"
                              >
                                <p class="mb-0 headTitle">Saksham Mishra</p>
                                <p class="mb-0">2 mins ago</p>
                              </div>
                            </div>
                          </a>
                        </td>

                        <td class="cstmTd">
                          <div class="d-flex">
                            <p class="border rounded px-1 mb-0 font11px">
                              Business
                            </p>
                          </div>
                        </td>

                        <td class="cstmTd">
                          <div class="d-flex">
                            <a
                              class="text-underline"
                              href="ongoing_work_d.html"
                            >
                              EXEID32122ED4RF</a
                            >
                          </div>
                        </td>
                        <td class="cstmTd minWidth145">
                          <div class="d-flex">
                            <p class="border rounded px-1 mb-0 pending">
                              Approval Pending
                            </p>
                          </div>
                        </td>

                        <!-- <td class="cstmTd">Biker Onboarding</td> -->
                        <td class="cstmTd minWidth300">
                          <div
                            class="d-flex flex-column align-items-start position-relative"
                          >
                            <p class="mb-0 headTitle">Need Bikers</p>
                            <p class="catDesc mx-0 px-0">
                              Earn upto Rs 500 everyday si the new beginning and
                              that why you are the best
                            </p>
                            <p class="tooltip newTooltipPosition">
                              Earn upto Rs 500 everyday si the new beginning and
                              that why you are the best Lorem ipsum dolor sit
                              amet consectetur adipisicing elit. Maxime placeat
                              repudiandae iusto ipsa eligendi provident deleniti
                              aspernatur quaerat suscipit deserunt tenetur enim,
                              earum sunt, voluptatibus non dignissimos
                              repellendus minima adipisci.
                            </p>
                          </div>
                        </td>
                        <td class="cstmTd">
                          <div class="grouping d-flex justify-content-evenly">
                            <div class="div1">
                              <img
                                class="img-30 me-2 rounded-circle"
                                src="https://images.freeimages.com/images/large-previews/09e/moon-art-1641879.png"
                                alt=""
                              />
                            </div>
                            <div
                              class="div2 d-flex flex-column align-items-start"
                            >
                              <p class="mb-0 headTitle">Swiggy</p>
                              <p class="mb-0">2 mins ago</p>
                            </div>
                          </div>
                        </td>
                        <td class="cstmTd">
                          <div class="d-flex">
                            <p class="border rounded px-1 mb-0 font11px">
                              Business
                            </p>
                          </div>
                        </td>
                      </tr>

                      <tr class="view bgroud mb-1">
                        <td class="cstmTd minWidthName">
                          <a href="../others/personal.html">
                            <div class="grouping d-flex justify-content-evenly">
                              <div class="div1">
                                <img
                                  class="img-30 me-2 rounded-circle"
                                  src="../assets/images/avtar/3.jpg"
                                  alt=""
                                />
                              </div>
                              <div
                                class="div2 d-flex flex-column align-items-start"
                              >
                                <p class="mb-0 headTitle">Saksham Mishra</p>
                                <p class="mb-0">2 mins ago</p>
                              </div>
                            </div>
                          </a>
                        </td>

                        <td class="cstmTd">
                          <div class="d-flex">
                            <p class="border rounded px-1 mb-0 font11px">
                              Business
                            </p>
                          </div>
                        </td>

                        <td class="cstmTd">
                          <div class="d-flex">
                            <a
                              class="text-underline"
                              href="ongoing_work_d.html"
                            >
                              EXEID32122ED4RF</a
                            >
                          </div>
                        </td>
                        <td class="cstmTd minWidth145">
                          <div class="d-flex">
                            <p class="border rounded px-1 mb-0 pending">
                              Approval Pending
                            </p>
                          </div>
                        </td>

                        <!-- <td class="cstmTd">Biker Onboarding</td> -->
                        <td class="cstmTd minWidth300">
                          <div
                            class="d-flex flex-column align-items-start position-relative"
                          >
                            <p class="mb-0 headTitle">Need Bikers</p>
                            <p class="catDesc mx-0 px-0">
                              Earn upto Rs 500 everyday si the new beginning and
                              that why you are the best
                            </p>
                            <p class="tooltip newTooltipPosition">
                              Earn upto Rs 500 everyday si the new beginning and
                              that why you are the best Lorem ipsum dolor sit
                              amet consectetur adipisicing elit. Maxime placeat
                              repudiandae iusto ipsa eligendi provident deleniti
                              aspernatur quaerat suscipit deserunt tenetur enim,
                              earum sunt, voluptatibus non dignissimos
                              repellendus minima adipisci.
                            </p>
                          </div>
                        </td>
                        <td class="cstmTd">
                          <div class="grouping d-flex justify-content-evenly">
                            <div class="div1">
                              <img
                                class="img-30 me-2 rounded-circle"
                                src="https://images.freeimages.com/images/large-previews/09e/moon-art-1641879.png"
                                alt=""
                              />
                            </div>
                            <div
                              class="div2 d-flex flex-column align-items-start"
                            >
                              <p class="mb-0 headTitle">Swiggy</p>
                              <p class="mb-0">2 mins ago</p>
                            </div>
                          </div>
                        </td>
                        <td class="cstmTd">
                          <div class="d-flex">
                            <p class="border rounded px-1 mb-0 font11px">
                              Business
                            </p>
                          </div>
                        </td>
                      </tr>

                      <tr class="view bgroud mb-1">
                        <td class="cstmTd minWidthName">
                          <a href="../others/personal.html">
                            <div class="grouping d-flex justify-content-evenly">
                              <div class="div1">
                                <img
                                  class="img-30 me-2 rounded-circle"
                                  src="../assets/images/avtar/3.jpg"
                                  alt=""
                                />
                              </div>
                              <div
                                class="div2 d-flex flex-column align-items-start"
                              >
                                <p class="mb-0 headTitle">Saksham Mishra</p>
                                <p class="mb-0">2 mins ago</p>
                              </div>
                            </div>
                          </a>
                        </td>

                        <td class="cstmTd">
                          <div class="d-flex">
                            <p class="border rounded px-1 mb-0 font11px">
                              Business
                            </p>
                          </div>
                        </td>

                        <td class="cstmTd">
                          <div class="d-flex">
                            <a
                              class="text-underline"
                              href="ongoing_work_d.html"
                            >
                              EXEID32122ED4RF</a
                            >
                          </div>
                        </td>
                        <td class="cstmTd minWidth145">
                          <div class="d-flex">
                            <p class="border rounded px-1 mb-0 pending">
                              Approval Pending
                            </p>
                          </div>
                        </td>

                        <!-- <td class="cstmTd">Biker Onboarding</td> -->
                        <td class="cstmTd minWidth300">
                          <div
                            class="d-flex flex-column align-items-start position-relative"
                          >
                            <p class="mb-0 headTitle">Need Bikers</p>
                            <p class="catDesc mx-0 px-0">
                              Earn upto Rs 500 everyday si the new beginning and
                              that why you are the best
                            </p>
                            <p class="tooltip newTooltipPosition">
                              Earn upto Rs 500 everyday si the new beginning and
                              that why you are the best Lorem ipsum dolor sit
                              amet consectetur adipisicing elit. Maxime placeat
                              repudiandae iusto ipsa eligendi provident deleniti
                              aspernatur quaerat suscipit deserunt tenetur enim,
                              earum sunt, voluptatibus non dignissimos
                              repellendus minima adipisci.
                            </p>
                          </div>
                        </td>
                        <td class="cstmTd">
                          <div class="grouping d-flex justify-content-evenly">
                            <div class="div1">
                              <img
                                class="img-30 me-2 rounded-circle"
                                src="https://images.freeimages.com/images/large-previews/09e/moon-art-1641879.png"
                                alt=""
                              />
                            </div>
                            <div
                              class="div2 d-flex flex-column align-items-start"
                            >
                              <p class="mb-0 headTitle">Swiggy</p>
                              <p class="mb-0">2 mins ago</p>
                            </div>
                          </div>
                        </td>
                        <td class="cstmTd">
                          <div class="d-flex">
                            <p class="border rounded px-1 mb-0 font11px">
                              Business
                            </p>
                          </div>
                        </td>
                      </tr>

                      <tr class="view bgroud mb-1">
                        <td class="cstmTd minWidthName">
                          <a href="../others/personal.html">
                            <div class="grouping d-flex justify-content-evenly">
                              <div class="div1">
                                <img
                                  class="img-30 me-2 rounded-circle"
                                  src="../assets/images/avtar/3.jpg"
                                  alt=""
                                />
                              </div>
                              <div
                                class="div2 d-flex flex-column align-items-start"
                              >
                                <p class="mb-0 headTitle">Saksham Mishra</p>
                                <p class="mb-0">2 mins ago</p>
                              </div>
                            </div>
                          </a>
                        </td>

                        <td class="cstmTd">
                          <div class="d-flex">
                            <p class="border rounded px-1 mb-0 font11px">
                              Business
                            </p>
                          </div>
                        </td>

                        <td class="cstmTd">
                          <div class="d-flex">
                            <a
                              class="text-underline"
                              href="ongoing_work_d.html"
                            >
                              EXEID32122ED4RF</a
                            >
                          </div>
                        </td>
                        <td class="cstmTd minWidth145">
                          <div class="d-flex">
                            <p class="border rounded px-1 mb-0 pending">
                              Approval Pending
                            </p>
                          </div>
                        </td>

                        <!-- <td class="cstmTd">Biker Onboarding</td> -->
                        <td class="cstmTd minWidth300">
                          <div
                            class="d-flex flex-column align-items-start position-relative"
                          >
                            <p class="mb-0 headTitle">Need Bikers</p>
                            <p class="catDesc mx-0 px-0">
                              Earn upto Rs 500 everyday si the new beginning and
                              that why you are the best
                            </p>
                            <p class="tooltip newTooltipPosition">
                              Earn upto Rs 500 everyday si the new beginning and
                              that why you are the best Lorem ipsum dolor sit
                              amet consectetur adipisicing elit. Maxime placeat
                              repudiandae iusto ipsa eligendi provident deleniti
                              aspernatur quaerat suscipit deserunt tenetur enim,
                              earum sunt, voluptatibus non dignissimos
                              repellendus minima adipisci.
                            </p>
                          </div>
                        </td>
                        <td class="cstmTd">
                          <div class="grouping d-flex justify-content-evenly">
                            <div class="div1">
                              <img
                                class="img-30 me-2 rounded-circle"
                                src="https://images.freeimages.com/images/large-previews/09e/moon-art-1641879.png"
                                alt=""
                              />
                            </div>
                            <div
                              class="div2 d-flex flex-column align-items-start"
                            >
                              <p class="mb-0 headTitle">Swiggy</p>
                              <p class="mb-0">2 mins ago</p>
                            </div>
                          </div>
                        </td>
                        <td class="cstmTd">
                          <div class="d-flex">
                            <p class="border rounded px-1 mb-0 font11px">
                              Business
                            </p>
                          </div>
                        </td>
                      </tr>

                      <tr class="view bgroud mb-1">
                        <td class="cstmTd minWidthName">
                          <a href="../others/personal.html">
                            <div class="grouping d-flex justify-content-evenly">
                              <div class="div1">
                                <img
                                  class="img-30 me-2 rounded-circle"
                                  src="../assets/images/avtar/3.jpg"
                                  alt=""
                                />
                              </div>
                              <div
                                class="div2 d-flex flex-column align-items-start"
                              >
                                <p class="mb-0 headTitle">Saksham Mishra</p>
                                <p class="mb-0">2 mins ago</p>
                              </div>
                            </div>
                          </a>
                        </td>

                        <td class="cstmTd">
                          <div class="d-flex">
                            <p class="border rounded px-1 mb-0 font11px">
                              Business
                            </p>
                          </div>
                        </td>

                        <td class="cstmTd">
                          <div class="d-flex">
                            <a
                              class="text-underline"
                              href="ongoing_work_d.html"
                            >
                              EXEID32122ED4RF</a
                            >
                          </div>
                        </td>
                        <td class="cstmTd minWidth145">
                          <div class="d-flex">
                            <p class="border rounded px-1 mb-0 pending">
                              Approval Pending
                            </p>
                          </div>
                        </td>

                        <!-- <td class="cstmTd">Biker Onboarding</td> -->
                        <td class="cstmTd minWidth300">
                          <div
                            class="d-flex flex-column align-items-start position-relative"
                          >
                            <p class="mb-0 headTitle">Need Bikers</p>
                            <p class="catDesc mx-0 px-0">
                              Earn upto Rs 500 everyday si the new beginning and
                              that why you are the best
                            </p>
                            <p class="tooltip newTooltipPosition">
                              Earn upto Rs 500 everyday si the new beginning and
                              that why you are the best Lorem ipsum dolor sit
                              amet consectetur adipisicing elit. Maxime placeat
                              repudiandae iusto ipsa eligendi provident deleniti
                              aspernatur quaerat suscipit deserunt tenetur enim,
                              earum sunt, voluptatibus non dignissimos
                              repellendus minima adipisci.
                            </p>
                          </div>
                        </td>
                        <td class="cstmTd">
                          <div class="grouping d-flex justify-content-evenly">
                            <div class="div1">
                              <img
                                class="img-30 me-2 rounded-circle"
                                src="https://images.freeimages.com/images/large-previews/09e/moon-art-1641879.png"
                                alt=""
                              />
                            </div>
                            <div
                              class="div2 d-flex flex-column align-items-start"
                            >
                              <p class="mb-0 headTitle">Swiggy</p>
                              <p class="mb-0">2 mins ago</p>
                            </div>
                          </div>
                        </td>
                        <td class="cstmTd">
                          <div class="d-flex">
                            <p class="border rounded px-1 mb-0 font11px">
                              Business
                            </p>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- on going ends -->
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="product-wrapper-grid">
      <div class="modal fade" id="exampleModalCenter16">
        <div class="modal-dialog modal-md modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <div class="product-box row">
                <div class="product-details col-lg-12 text-start">
                  <a href="product-page.html">
                    <h4>HomeWork</h4>
                  </a>

                  <div class="product-view">
                    <h6 class="f-w-600">Task Details</h6>
                    <p class="mb-3">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Fugiat, eligendi! Necessitatibus ipsam dignissimos odit
                      vero!
                    </p>
                  </div>
                  <div class="product-qnty">
                    <div class="addcart-btn">
                      <button
                        class="btn btn-primary me-3"
                        data-bs-dismiss="modal"
                      >
                        Decline
                      </button>
                      <button class="btn btn-primary" data-bs-dismiss="modal">
                        Approve
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <button
                class="btn-close"
                type="button"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Ends -->
  </div>
</div>
