<div class="workingDivOuter width95Per">
  <div class="project-cards workingDiv">
    <div class="col-md-12 project-list"></div>
    <div class="col-sm-12">
      <div class="card mb-0 cardNoBorder">
        <div class="card-body px-0">
          <div class="tab-content" id="top-tabContent">
            <div class="row">
              <h2 class="rem1 px-0">Works</h2>
            </div>

            <div
              class="tab-pane fade show active"
              id="taskLists"
              role="tabpanel"
              aria-labelledby="top-tasks-tab"
            >
            


              <div class="row mb-3 p-0 d-flex">
                <div
                  class="left-header col-md-6 horizontal-wrapper ps-0 d-flex align-items-center"
                >
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text mobile-search"
                      ><mat-icon
                        aria-hidden="false"
                        aria-label="Example home icon"
                        fontIcon="search"
                      ></mat-icon
                    ></span>
                  </div>
                  <input
                    class="form-control" [(ngModel)]="searchTerm" (input)="filterBySearchTerm()"
                    type="text"
                    placeholder="Search Here..."
                  />
                </div>
                </div>

                <div
                  class="col-auto d-flex align-items-center px-2 "
                >
                  <ul
                    class="nav-menus cstmNavMenusWidth d-flex align-items-center"
                  >
                    <li class="onhover-dropdown p-0 me-0">
                      <div class="d-flex profile-media">
                        <div class="d-flex statusFilter justify-content-around">
                          <span class="status">Status</span>
                          <span class="material-symbols-outlined">
                            expand_more
                          </span>
                        </div>
                      </div>

                      <ul
                        class="nav nav-tabs cstmDraft border-tab dirColumn profile-dropdown onhover-show-div"
                        id="top-tab"
                        role="tablist"
                      >
                      <li class="nav-item newNavItem">
                        <a class="nav-link removePadd newNavLink" (click)="filterByState('all')">All</a>
                      </li>
                        <li class="nav-item newNavItem">
                          <a class="nav-link removePadd newNavLink" (click)="filterByState('None')">None</a>
                        </li>
                        <li class="nav-item newNavItem">
                          <a class="nav-link removePadd newNavLink" (click)="filterByState('Applied')">Applied</a>
                        </li>
                        <li class="nav-item newNavItem">
                          <a class="nav-link removePadd newNavLink"
                          (click)="filterByState('Executing')">Executing</a
                          >
                        </li>
                        <li class="nav-item newNavItem">
                          <a class="nav-link removePadd newNavLink" (click)="filterByState('Executed')">Executed</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="row basic_table">
                <div class="table-responsive cstmTable p-2 tableFixed">
                  <table class="table fold-table">
                    <thead>
                      <tr class="bdrBtmBlue">
                        <th class="cstmTh font_Deg" scope="col">Generator</th>
                        <th class="cstmTh font_Deg" scope="col">Generator Type</th>
                        <th class="cstmTh font_Deg" scope="col">Reference ID</th>
                        <th class="cstmTh font_Deg" scope="col">Work Details</th>
                        <th class="cstmTh font_Deg" scope="col">Location</th>
                        <th class="cstmTh font_Deg" scope="col">Status</th>
                        <th class="cstmTh font_Deg" scope="col">Remuneration</th>
                        <th class="cstmTh font_Deg" scope="col">Work Category</th>
                        <th class="cstmTh font_Deg" scope="col">Apply Date</th>
                        <th class="cstmTh font_Deg" scope="col">End Date</th>
                        <!-- <th class="cstmTh" scope="col"></th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngIf="filterWorkList; else elseBlock">

                      <tr class="view bgroud mb-1" *ngFor="let work_item of filterWorkList">
                        <td class="cstmTd">
                          <a href="../others/business.html">
                            <div class="grouping d-flex justify-content-evenly">
                              <div class="div1">
                                <img
                                  class="img-30 me-2 rounded-circle"
                                  src="{{work_item.workCategoryBanner}}"
                                  alt=""
                                />
                              </div>
                              <div
                                class="div2 d-flex flex-column align-items-start"
                              >
                                <p class="mb-0 headTitle">{{work_item.generatorName}}</p>
                                <p class="mb-0 gene_time">2 mins ago</p>
                                <!-- <p class="bsnisBadge border rounded px-1 mb-0">Business
                                </p> -->
                              </div>
                            </div>
                          </a>
                        </td>
                        <td class="cstmTd">
                          <div class="d-flex">
                            <p class="border px-2 rounded_deg mb-1 font11px">
                              {{work_item.isGeneratorBusiness}}
                            </p>
                          </div>
                        </td>

                        <td class="cstmTd">
                          <a class="text-underline workRefId"  (click)="openDetallPage(work_item.id)"
                            >{{work_item.workRefId}}</a
                          >
                        </td>
                        <td class="cstmTd minWidth300">
                          <div
                          class="d-flex flex-column align-items-start position-relative"
                          >
                          <p class="mb-0 headTitle">{{work_item.title}}</p>
                          
                          <p class="catDesc mx-0 px-0">
                            {{work_item.description}}
                            
                          </p>
                          <p class="tooltip newTooltipPosition">
                            Earn upto Rs 500 everyday si the new beginning and
                            that why you are the best Lorem ipsum dolor sit
                            amet consectetur adipisicing elit. Maxime placeat
                            repudiandae iusto ipsa eligendi provident deleniti
                            aspernatur quaerat suscipit deserunt tenetur enim,
                            earum sunt, voluptatibus non dignissimos
                            repellendus minima adipisci.
                          </p>
                          <div class="d-flex">
                            <p class="border px-2  mb-1 chip_deg">
                              Pink Wallet
                            </p>
                          </div>
                        </div>
                      </td>
                      <td class="cstmTd">
                        <p class="data location_deg">{{work_item.location}}</p>
                      </td>
                      <td class="cstmTd">
                        <div class="d-flex">
                          <!-- <p class="border rounded px-1 mb-0 activeCol"> -->
                          <p class="rounded_deg" [ngClass]="{'px-2': true, 'mb-1': true, 'activeCol':work_item.status === 'Applied','bgExecuting':work_item.status === 'Executing' , 'bgExecuted':work_item.status === 'Executed'}">
                            {{work_item.status}}
                          </p>
                        </div>
                      </td>
                      <td class="cstmTd">
                        <p class="data reu_deg">₹100</p>
                      </td>
                      <td class="cstmTd">
                        <a href="./category_d.html">
                          <div class="grouping d-flex justify-content-evenly">
                            <div class="div1">
                              <img
                                  class="genImg me-2 rounded"
                                  src="{{work_item.generatorPic}}"
                                  alt=""
                                />
                              </div>
                              <div class="div2 d-flex flex-column align-items-start">
                                <p class="mb-0">{{work_item.workCategoryTitle}}</p>
                              </div>
                            </div>
                          </a>
                        </td>
                        
                      <td class="cstmTd">
                        <p>12-07-2023</p>
                      </td>
                      
                      <td class="cstmTd">
                        <p>15-07-2023</p>
                      </td>
                      </tr>               
                    </ng-container>
                    <ng-template #elseBlock>
                      <!-- Render alternative content when condition is false -->
                      <tr>
                        <td colspan="4">No data available</td>
                      </tr>
                    </ng-template>      
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="product-wrapper-grid">
      <div class="modal fade" id="exampleModalCenter16">
        <div class="modal-dialog modal-md modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <div class="product-box row">
                <div class="product-details col-lg-12 text-start">
                  <a href="product-page.html">
                    <h4>HomeWork</h4>
                  </a>

                  <div class="product-view">
                    <h6 class="f-w-600">Task Details</h6>
                    <p class="mb-3">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Fugiat, eligendi! Necessitatibus ipsam dignissimos odit
                      vero!
                    </p>
                  </div>
                  <div class="product-qnty">
                    <div class="addcart-btn">
                      <button
                        class="btn btn-primary me-3"
                        data-bs-dismiss="modal"
                      >
                        Decline
                      </button>
                      <button class="btn btn-primary" data-bs-dismiss="modal">
                        Approve
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <button
                class="btn-close"
                type="button"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Ends -->
  </div>
</div>
