<div class="spinner-border text-info spinner_Set" role="status" *ngIf="loader">
  <span class="visually-hidden">Loading...</span>
</div>
<mat-toolbar class="example-toolbar mat-toolbar" *ngIf="!loader">
  <mat-toolbar-row class="mat-toolbar-row">
    <button mat-icon-button (click)="snav.toggle()" class="menutoggleBtn">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- <span class="example-app-name">{{ title }}</span> -->
    <img src="../assets/logo.png" alt="" class="logo_style">
    <p class="mb-0 fs-6 ms-2">Manager</p>

    <span class="example-spacer"></span>
    <div>
      <button mat-button [matMenuTriggerFor]="menu" color="primary">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="person"
        ></mat-icon>
        Admin
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="person"
          ></mat-icon>
          User Managment
        </button>
        <button mat-menu-item>
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="logout"
          ></mat-icon>
          Log out
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="minHeight100vh bgcolor">
  <mat-sidenav class="nav_deg" style="background-color: #f5f5f5;" #snav [opened]="!isSmallScreen" mode="side" fixedTopGap="56">
    <mat-nav-list *ngIf="!loader">
      <a
        mat-list-item
        routerLink="/works"
        routerLinkActive="active2"
        class="sidebarListHeight50"
    
      >

      <mat-icon class="material-symbols-outlined">jump_to_element</mat-icon>


      </a>
      
      
      <a
        mat-list-item
        routerLink="/work-application"
        routerLinkActive="active2"
        class="sidebarListHeight50"
      >
        <!-- <span class="me-2 material-symbols-outlined faIconColor"
          >rule</span
        > -->
        <span class="material-symbols-outlined">
          strategy
          </span>
        <!-- <span class="font14px">Applications</span> -->
      </a>
      <a
        mat-list-item
        routerLink="/ongoing-work"
        routerLinkActive="active2"
        class="sidebarListHeight50"
      >
        <!-- <span class="me-2 material-symbols-outlined faIconColor">work_history</span> -->
        <span class="material-symbols-outlined">
          nature_people
          </span>
        <!-- <span class="font14px">Ongoing</span> -->
      </a>
      <a
        mat-list-item
        routerLink="/complaints"
        routerLinkActive="active2"
        class="sidebarListHeight50"
      >
        <!-- <span class="me-2 material-symbols-outlined faIconColor">support_agent</span> -->
        <span class="material-symbols-outlined">
          rotate_90_degrees_ccw
          </span>
        <!-- <span class="font14px">Complaints</span> -->
      </a>
      <a
        mat-list-item
        routerLink="#"
        routerLinkActive="active2"
        class="sidebarListHeight50"
      >
        <!-- <span class="me-2 material-symbols-outlined faIconColor">support_agent</span> -->
        <span class="material-symbols-outlined">
          person
          </span>
        <!-- <span class="font14px">Complaints</span> -->
      </a><a
      mat-list-item
      routerLink="#"
      routerLinkActive="active2"
      class="sidebarListHeight50"
    >
      <!-- <span class="me-2 material-symbols-outlined faIconColor">support_agent</span> -->
      <span class="material-symbols-outlined">
        domain
        </span>
      <!-- <span class="font14px">Complaints</span> -->
    </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content  *ngIf="!loader" class="leftMargin0 overflowVisible mainworkingdiv">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
