/* tooltip trying */
.catDesc {
    white-space: nowrap;
    /* max-width: 20%; */
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    padding: 0px 10px;
    margin: 0px 0px;

}

.catDesc:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* pointer-events: initial; */
}

.catDesc:hover::after {
    cursor: pointer;
    color: #bfbfbf;
    font-size: 11px;
}

.tooltip1 {
    width: 60%;
    visibility: hidden;
    background-color: #fff;
    -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.5s ease;
    box-shadow: 0px 0px 10px #bfbfbf;
    padding: 10px;
    border-radius: 5px;
    top: -30px;
    position: absolute;
}

.newTooltipPosition {
    width: 100%;
}

.catDesc:hover+.tooltip1 {
    visibility: visible;
    transition: opacity 0.5s ease;
    opacity: 1;
}


.selectedImgShow {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 5px;
}

.imgToShow {
    width: 200px;
    object-fit: contain;
    border-radius: 10px;
}


@media (min-width: 1200px) {
    .width100 {
        max-width: 991px !important;
    }
}