<div class="workingDivOuter width95Per">
    <div class="workingDiv project-cards">
      <div class="col-md-12 project-list">

      </div>
      <div class="col-sm-12">
        <div class="card mb-0 cardNoBorder">
          <div class="card-body px-0">

            <div class="tab-content" id="top-tabContent">
              <!-- newTab-pane -->
              <div class="tab-pane fade show active" id="categoryDetailPg" role="tabpanel" aria-labelledby="categoryDetailPg">
                <div class="row mb-4 right-header p-0 cstmFlex">
                  <div class="col-6 px-0 d-flex align-items-center justify-content-start">
                    <div class="col-1 px-0">
                      <span onclick="history.back()" class="material-symbols-outlined backBtn mx-0">
                        arrow_back
                      </span>
                    </div>
                  </div>

                  <div class="col-6 px-0 d-flex align-items-center justify-content-end">
                  </div>

                </div>
                <div class="row rowBGColor">

                  <div class="col-md-12 mb-2 bgLight rounded">
                    <div class="row p-3 rounded justify-content-between">
                      <div class="col-md-4 d-flex align-items-start justify-content-start">
                        <p class="title mb-0">TicketRef-ID</p>
                        <p class=" border rounded px-1 mb-0 mx-1 newIds">TCKETID234FG212</p>
                      </div>

                      <div class="col-6 col-md-4 d-flex align-items-start justify-content-center">
                        <p class="title2 mb-0">Complaint Type
                        </p>
                        <p class=" mx-1 cmnBadgeDesign workId"> <span class="wiSpan">
                            PAYOUT</span>
                        </p>
                      </div>



                      <div class="col-md-4 d-flex align-items-start justify-content-end">
                        <p class="title mb-0">Admin Status</p>
                        <select class="cstmSelectTag statusBtn mx-1">
                          <option>Open</option>
                          <option>In process</option>
                          <option>Closed</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="row rounded flex-column">
                      <!-- Work Details -->
                      <div class="row align-items-center justify-content-between px-3 pt-3">
                        <div class=" col-6 d-flex align-items-center px-0">
                          <h5 class="px-0 title2">Complaint Details</h5>
                          <a href="#" class="ms-2 invisible"><span class="material-symbols-outlined iconEditFont16">
                              edit
                            </span></a>
                        </div>
                      </div>
                      <div class="col-md-12 mb-2 minH130 bgLight rounded">

                        <div class="row px-3 pt-3">
                          <div class="col-md-12 mb-2">
                            <div class="row align-items-center justify-content-between">
                              <div class="col-6">
                                <div class="d-flex mb-3 align-items-start flex-column">
                                  <p class="title2 mb-0">Complainant</p>
                                  <p class="data mb-0">Saksham Mishra</p>
                                </div>

                                <div class="d-flex mb-3 align-items-start flex-column">
                                  <p class="title2 mb-0">Account Type</p>
                                  <div class="d-flex">
                                    <p class=" border rounded px-1 mb-0 font11px">
                                      Business
                                    </p>
                                    <p class=" border rounded px-1 mx-1 newIds">Executor</p>
                                  </div>
                                </div>

                              </div>
                              <div class="col-6 d-flex  align-items-center justify-content-end px-0">
                                <img class="bannerImg7575 rounded" src="https://images.unsplash.com/photo-1472141521881-95d0e87e2e39?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=872&amp;q=80" alt="">
                              </div>
                            </div>
                          </div>

                          <div class="col-md-4 mb-3">
                            <p class="title2 mb-0">Complaint Against</p>
                            <div class="d-flex">
                              <a href="./works_d.html">
                                <p class="border rounded px-1 mb-0 newIds">WRKID234FG212</p>
                              </a>
                            </div>
                          </div>

                          <div class="col-md-12">
                            <p class="title2 mb-0">Incorrect payout</p>
                            <p class="data">I am writing to address an issue with my recent payout for the month
                              of April. Upon reviewing my bank statement, I have noticed that the payout amount
                              deposited into my account is incorrect.</p>
                          </div>
                        </div>

                        <div class="d-flex mb-3 p-3">
                          <div class="col-4">
                            <p class="title2 mb-0">Created On</p>
                            <p class="data">22/33/44</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <!-- Vertically centered modal for delete-->
              <div class="modal fade" id="delCategoryModal" tabindex="-1" role="dialog" aria-labelledby="delCategoryModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header bdrNone justify-content-center">
                      <!-- <h5 class="modal-title">Modal title</h5> -->
                      <!-- <span class="material-symbols-outlined modal-title delIcon">
                        delete_forever
                      </span> -->
                      <img src="../assets/images/newImages/delete.png" class=" modal-title delIcon" alt="">
                      <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <h5 class="text-center">
                        Are you sure you want to <br>delete this category?
                      </h5>
                      <p class="text-center">
                        "Category name"
                      </p>
                    </div>
                    <div class="modal-footer bdrNone justify-content-evenly">
                      <button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button>
                      <button class="btn btn-danger" type="button">Delete</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>